* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before{
    content: "" ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% ;
    height: 100%;
    background: linear-gradient(174deg, rgb(164, 177, 167) 52% ,rgb(235, 235, 233) 48%)

}
.box{
    position: relative;
    z-index: 1;
    width: 400px;
    height: 400px;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.25)
}

.container{
    position : relative;

}
.container::before {
    content: "";
    position: absolute;
    bottom: -150px;
    width:  100px;
    height: 60px ;
    background: radial-gradient(rgba(0,0,0,0.2)
    transparent, transparent);
    border-radius: 50%;
}

.clock{
    position: absolute;
    top: 10px;
    left: 10px;
    right:  10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(transparent, 
    rgba(255,255,255,0.2)), url(clock.png);
    background-size:  cover;
    border-radius: 50%;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255,255,255,0.25);
    border-bottom: nome;
    border-right: none;
    box-shadow: -10px -10px 20px rgba(255,255,255,0.1),
    10px 10px 20px rgba(0,0,0,0.1),
    0px 40px 50px rgba(255,255,255,0.1);

}

.clock::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 20;
}

.hour,
.min,
.sec{
    position: absolute;
}

.hour,
.hr {
    width: 160px;
    height: 160px;
}

.min,
.mn {
    width: 190px;
    height: 190px;
}

.sec,
.sc {
    width: 230px;
    height: 230px;
}

.hr,
.mn,
.sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
/* kim giờ */
.hr::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 3;
    border-radius: 6px;
}
/* kim phút */
.mn::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 4;
    border-radius: 6px;
}

.sc::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    background: #fff;
    z-index: 5;
    border-radius: 6px;
}

.ref::before {
    font-weight: bold;
    color: navy;
    content: "KienChi Luu clock";

  }
  